.button__container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 8px 24px;
    border-radius: 17px;
    box-sizing: border-box;
    background: linear-gradient(175.25deg, #9E44FF 3.56%, #543EFF 103.97%);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    outline: none;
    cursor: pointer;
}